{% extends 'base.html' %}
{% block title %} Darowizna nr. {{ donation.id }} {% endblock %}
{% block header %}
  <header>
    {% include 'includes/top_menu.html' %}
  </header>
{% endblock %}
{% block content %}
  <div class="profile">
    <h3>Podsumowanie Twojej darowizny</h3>
    <h4>Ilość worków: {{ donation.quantity }}</h4>
    <h4>Dla: {{ donation.institution }}</h4>
    <br>

    <h3>Adres odbioru:</h3>
    <h4>Ulica: {{ donation.address }}</h4>
    <h4>Miasto: {{ donation.city }}</h4>
    <h4>Kod pocztowy: {{ donation.zip_code }}</h4>
    <h4>Telefon: {{ donation.phone_number }}</h4>

    <h3>Termin odbioru:</h3>
    <h4>Data: {{ donation.pick_up_date }}</h4>
    <h4>Godzina: {{ donation.pick_up_time }}</h4>
    <h4>Uwagi: {{ donation.pick_up_comment }}</h4>
    <a href="{% url 'profile' %}">
      <button type="button" class="button">Powrót</button>
    </a>
  </div>
  <br>


{% endblock %}
