{% extends 'base.html' %}
{% block title %} Darowizna nr. {{ donation.pk }} {% endblock %}
{% block header %}
  <header>
    {% include 'includes/top_menu.html' %}
  </header>
{% endblock %}
{% block content %}
  <div class="donation-detailed">
    <h3>Podsumowanie Twojej darowizny (ID <i>{{ donation.pk }}</i>)</h3>
    <h4>Ilość worków: <i>{{ donation.quantity }}</i></h4>
    <h4>Dla: <i>{{ donation.institution }}</i></h4><br>

    <h3>Adres odbioru:</h3>
    <h4>Ulica: <i>{{ donation.address }}</i></h4>
    <h4>Miasto: <i>{{ donation.city }}</i></h4>
    <h4>Kod pocztowy: <i>{{ donation.zip_code }}</i></h4>
    <h4>Telefon: <i>{{ donation.phone_number }}</i></h4><br>

    <h3>Termin odbioru:</h3>
    <h4>Data: <i>{{ donation.pick_up_date }}</i></h4>
    <h4>Godzina: <i>{{ donation.pick_up_time }}</i></h4>
    <h4>Uwagi: <i>{{ donation.pick_up_comment }}</i></h4>

      <h4>Odebrany: <i>{% if donation.is_taken %} TAK {% else %} NIE{% endif %}</i>
      </h4>
      <form action="{% url 'archive_donation' donation.id %}" method="post">
      {% csrf_token %}
            <button type="submit" class="btn--small">
          {% if not donation.is_taken %}Archiwizuj {% else %}Przywróć {% endif %}
        </button>
    </form>

    <a href="{% url 'profile' %}">
      <button type="button" class="button">Powrót do profilu</button>
    </a>
  </div>
  <br>


{% endblock %}
