{% extends 'base.html' %} {% load i18n static %}

{% block header %}
  <header>
    {% include 'includes/top_menu.html' %}
  </header>
{% endblock %}

{% block content %}
  <div class="profile">

    <h2>Przypomnij hasło</h2>
    <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post" class="user-change-form"> {% csrf_token %}
      <div class="form-group">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
        <input class="btn" type="submit" value="{% trans 'Reset my password' %}">
      </div>
    </form>
  </div>
  <br>
{% endblock %}

